@import 'tailwindcss';

* {
  -webkit-font-smoothing: antialiased;
  @apply outline-sky-600;
}

html {
  scroll-behavior: smooth;
  font-family: 'Onest', sans-serif;
}

body {
  overflow-x: hidden;
}

.hero-bg {
  background-image: url('/herobg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
}

.cta-block {
  background: radial-gradient(64% 64% at 50% 36%, #3F51B5, #303D88 100%);
}